-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: job_share_prod_translate
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `action_logs`
--

DROP TABLE IF EXISTS `action_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `action_logs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `admin_id` bigint(20) unsigned DEFAULT NULL COMMENT 'Admin th├ƒΓòùΓûÆc hi├ƒΓòù├ºn action',
  `object` varchar(255) NOT NULL COMMENT 'TΓö£┬¼n object/model ΓöÇ├ª├úΓûæ├ƒΓòù├║c thao tΓö£├¡c (Job, JobApplication, CVStorage, etc.)',
  `action` varchar(255) NOT NULL COMMENT 'HΓö£├ính ΓöÇ├ª├ƒΓòù├ûng: login, logout, create, edit, delete, import',
  `ip` varchar(255) DEFAULT NULL COMMENT 'IP address c├ƒΓòù┬║a admin',
  `before` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'D├ƒΓòù┬╗ li├ƒΓòù├ºu tr├úΓûæ├ƒΓòù├╕c khi thay ΓöÇ├ª├ƒΓòù├▓i' CHECK (json_valid(`before`)),
  `after` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'D├ƒΓòù┬╗ li├ƒΓòù├ºu sau khi thay ΓöÇ├ª├ƒΓòù├▓i' CHECK (json_valid(`after`)),
  `description` varchar(255) DEFAULT NULL COMMENT 'MΓö£Γöñ t├ƒΓòæ├║ chi ti├ƒΓòæΓöÉt action',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_action_logs_admin` (`admin_id`),
  CONSTRAINT `fk_action_logs_admin` FOREIGN KEY (`admin_id`) REFERENCES `admins` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=369 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `admins`
--

DROP TABLE IF EXISTS `admins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admins` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `phone` varchar(255) DEFAULT NULL,
  `avatar` varchar(255) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `status` tinyint(4) NOT NULL DEFAULT 1 COMMENT '1: active, 0: inactive',
  `remember_token` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `role` tinyint(4) NOT NULL DEFAULT 1 COMMENT '1: Super Admin, 2: Admin Backoffice, 3: Admin CA Team',
  `group_id` bigint(20) unsigned DEFAULT NULL COMMENT 'ID nhΓö£Γöém cho Admin CA Team',
  PRIMARY KEY (`id`),
  KEY `fk_admins_group` (`group_id`),
  CONSTRAINT `fk_admins_group` FOREIGN KEY (`group_id`) REFERENCES `groups` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `benefits`
--

DROP TABLE IF EXISTS `benefits`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `benefits` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `job_id` bigint(20) unsigned NOT NULL,
  `content` text NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `content_en` text DEFAULT NULL,
  `content_jp` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_benefits_job` (`job_id`),
  CONSTRAINT `fk_benefits_job` FOREIGN KEY (`job_id`) REFERENCES `jobs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7704 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `calendars`
--

DROP TABLE IF EXISTS `calendars`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `calendars` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `job_application_id` bigint(20) unsigned NOT NULL COMMENT 'ID c├ƒΓòù┬║a job_application liΓö£┬¼n quan l├ƒΓòù├»ch h├ƒΓòæΓòún',
  `admin_id` bigint(20) unsigned DEFAULT NULL COMMENT 'Admin ph├ƒΓòù├æ trΓö£├¡ch l├ƒΓòù├»ch h├ƒΓòæΓòún',
  `collaborator_id` bigint(20) unsigned DEFAULT NULL COMMENT 'CTV liΓö£┬¼n quan l├ƒΓòù├»ch h├ƒΓòæΓòún',
  `event_type` tinyint(4) NOT NULL DEFAULT 1 COMMENT '1: Interview, 2: Nyusha, 3: KhΓö£├¡c',
  `title` varchar(255) NOT NULL COMMENT 'TiΓö£┬¼u ΓöÇ├ª├ƒΓòù├╝ l├ƒΓòù├»ch h├ƒΓòæΓòún',
  `description` text DEFAULT NULL COMMENT 'Ghi chΓö£Γòæ chi ti├ƒΓòæΓöÉt cho l├ƒΓòù├»ch h├ƒΓòæΓòún',
  `start_at` datetime NOT NULL COMMENT 'Th├ƒΓòù├ÿi gian b├ƒΓòæ┬╗t ΓöÇ├ª├ƒΓòæ┬║u',
  `end_at` datetime DEFAULT NULL COMMENT 'Th├ƒΓòù├ÿi gian k├ƒΓòæΓöÉt thΓö£Γòæc (n├ƒΓòæΓöÉu cΓö£Γöé)',
  `status` tinyint(4) NOT NULL DEFAULT 0 COMMENT '0: Pending, 1: Confirmed, 2: Cancelled',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `title_en` varchar(255) DEFAULT NULL,
  `description_en` text DEFAULT NULL,
  `title_jp` varchar(255) DEFAULT NULL,
  `description_jp` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_calendars_job_application` (`job_application_id`),
  KEY `fk_calendars_admin` (`admin_id`),
  KEY `fk_calendars_collaborator` (`collaborator_id`),
  CONSTRAINT `fk_calendars_admin` FOREIGN KEY (`admin_id`) REFERENCES `admins` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_calendars_collaborator` FOREIGN KEY (`collaborator_id`) REFERENCES `collaborators` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_calendars_job_application` FOREIGN KEY (`job_application_id`) REFERENCES `job_applications` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `campaign_applications`
--

DROP TABLE IF EXISTS `campaign_applications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `campaign_applications` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `campaign_id` bigint(20) unsigned NOT NULL,
  `collaborator_id` bigint(20) unsigned NOT NULL,
  `job_id` bigint(20) unsigned NOT NULL,
  `cover_letter` text DEFAULT NULL,
  `cv_file` varchar(255) DEFAULT NULL,
  `status` tinyint(4) NOT NULL DEFAULT 0 COMMENT '0: requested, 1: approved, 2: rejected',
  `notes` text DEFAULT NULL,
  `applied_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `cover_letter_en` text DEFAULT NULL,
  `notes_en` text DEFAULT NULL,
  `cover_letter_jp` text DEFAULT NULL,
  `notes_jp` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_campaign_applications_campaign` (`campaign_id`),
  KEY `fk_campaign_applications_collaborator` (`collaborator_id`),
  KEY `fk_campaign_applications_job` (`job_id`),
  CONSTRAINT `fk_campaign_applications_campaign` FOREIGN KEY (`campaign_id`) REFERENCES `campaigns` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_campaign_applications_collaborator` FOREIGN KEY (`collaborator_id`) REFERENCES `collaborators` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_campaign_applications_job` FOREIGN KEY (`job_id`) REFERENCES `jobs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `campaigns`
--

DROP TABLE IF EXISTS `campaigns`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `campaigns` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `name_en` varchar(255) DEFAULT NULL,
  `name_jp` varchar(255) DEFAULT NULL,
  `description` text NOT NULL,
  `start_date` datetime NOT NULL,
  `end_date` datetime NOT NULL,
  `max_cv` int(11) DEFAULT 0,
  `percent` int(11) DEFAULT 0,
  `status` tinyint(4) NOT NULL DEFAULT 0 COMMENT '0: inactive, 1: active, 2: ended',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `description_en` text DEFAULT NULL,
  `description_jp` text DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `categories`
--

DROP TABLE IF EXISTS `categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `categories` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `name_en` varchar(255) DEFAULT NULL,
  `name_jp` varchar(255) DEFAULT NULL,
  `slug` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `color` varchar(7) NOT NULL DEFAULT '#007bff',
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `sort_order` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `show_in_dashboard` tinyint(1) NOT NULL DEFAULT 0,
  `description_en` text DEFAULT NULL,
  `color_en` varchar(7) DEFAULT NULL,
  `description_jp` text DEFAULT NULL,
  `color_jp` varchar(7) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `collaborator_assignments`
--

DROP TABLE IF EXISTS `collaborator_assignments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `collaborator_assignments` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `cv_storage_id` bigint(20) unsigned NOT NULL COMMENT 'ID hß╗ô s╞í ß╗⌐ng vi├¬n (cv_storages) ─æ╞░ß╗úc giao cho AdminBackOffice phß╗Ñ tr├ích',
  `admin_id` bigint(20) unsigned NOT NULL COMMENT 'ID AdminBackOffice ─æ╞░ß╗úc ph├ón c├┤ng ch─âm s├│c',
  `assigned_by` bigint(20) unsigned NOT NULL COMMENT 'ID Super Admin thß╗▒c hiß╗çn ph├ón c├┤ng',
  `notes` text DEFAULT NULL COMMENT 'Ghi ch├║ vß╗ü ph├ón c├┤ng',
  `status` tinyint(4) NOT NULL DEFAULT 1 COMMENT '1: active, 0: inactive',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `notes_en` text DEFAULT NULL,
  `notes_jp` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_active_assignment` (`cv_storage_id`,`admin_id`,`status`,`deleted_at`),
  KEY `fk_collaborator_assignments_admin` (`admin_id`),
  KEY `fk_collaborator_assignments_assigned_by` (`assigned_by`),
  KEY `fk_collaborator_assignments_cv_storage` (`cv_storage_id`),
  CONSTRAINT `fk_collaborator_assignments_admin` FOREIGN KEY (`admin_id`) REFERENCES `admins` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_collaborator_assignments_assigned_by` FOREIGN KEY (`assigned_by`) REFERENCES `admins` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_collaborator_assignments_cv_storage` FOREIGN KEY (`cv_storage_id`) REFERENCES `cv_storages` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `collaborator_notifications`
--

DROP TABLE IF EXISTS `collaborator_notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `collaborator_notifications` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `collaborator_id` bigint(20) unsigned NOT NULL,
  `title` varchar(255) NOT NULL,
  `content` text NOT NULL,
  `job_id` bigint(20) unsigned DEFAULT NULL,
  `url` varchar(255) DEFAULT NULL,
  `is_read` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `title_en` varchar(255) DEFAULT NULL,
  `content_en` text DEFAULT NULL,
  `url_en` varchar(255) DEFAULT NULL,
  `title_jp` varchar(255) DEFAULT NULL,
  `content_jp` text DEFAULT NULL,
  `url_jp` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_collaborator_notifications_collaborator` (`collaborator_id`),
  KEY `fk_collaborator_notifications_job` (`job_id`),
  CONSTRAINT `fk_collaborator_notifications_collaborator` FOREIGN KEY (`collaborator_id`) REFERENCES `collaborators` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_collaborator_notifications_job` FOREIGN KEY (`job_id`) REFERENCES `jobs` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=190 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `collaborator_saved_list_jobs`
--

DROP TABLE IF EXISTS `collaborator_saved_list_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `collaborator_saved_list_jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `saved_list_id` bigint(20) unsigned NOT NULL COMMENT 'Playlist chß╗⌐a job',
  `job_id` bigint(20) unsigned NOT NULL COMMENT 'Job ─æ╞░ß╗úc l╞░u',
  `sort_order` int(11) NOT NULL DEFAULT 0 COMMENT 'Thß╗⌐ tß╗▒ hiß╗ân thß╗ï trong list',
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_saved_list_job` (`saved_list_id`,`job_id`),
  KEY `fk_collab_saved_list_jobs_list` (`saved_list_id`),
  KEY `fk_collab_saved_list_jobs_job` (`job_id`),
  CONSTRAINT `fk_collab_saved_list_jobs_job` FOREIGN KEY (`job_id`) REFERENCES `jobs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_collab_saved_list_jobs_list` FOREIGN KEY (`saved_list_id`) REFERENCES `collaborator_saved_lists` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `collaborator_saved_lists`
--

DROP TABLE IF EXISTS `collaborator_saved_lists`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `collaborator_saved_lists` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `collaborator_id` bigint(20) unsigned NOT NULL COMMENT 'CTV sß╗ƒ hß╗»u danh s├ích',
  `name` varchar(255) NOT NULL COMMENT 'T├¬n playlist (VD: Viß╗çc l├ám IT y├¬u th├¡ch)',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_collab_saved_lists_collaborator` (`collaborator_id`),
  CONSTRAINT `fk_collab_saved_lists_collaborator` FOREIGN KEY (`collaborator_id`) REFERENCES `collaborators` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `collaborator_saved_search_criteria`
--

DROP TABLE IF EXISTS `collaborator_saved_search_criteria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `collaborator_saved_search_criteria` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `collaborator_id` bigint(20) unsigned NOT NULL COMMENT 'CTV sß╗ƒ hß╗»u ti├¬u ch├¡',
  `name` varchar(255) NOT NULL COMMENT 'T├¬n gß╗úi nhß╗¢ (VD: T├¼m kiß║┐m IT Tokyo)',
  `filters` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL COMMENT 'JSON: keyword, locations[], fieldIds[], jobTypeIds[], age, salaryMin, salaryMax, employmentType, highlights[], booleans',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `filters_en` longtext DEFAULT NULL,
  `filters_jp` longtext DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_collab_saved_criteria_collaborator` (`collaborator_id`),
  CONSTRAINT `fk_collab_saved_criteria_collaborator` FOREIGN KEY (`collaborator_id`) REFERENCES `collaborators` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `collaborators`
--

DROP TABLE IF EXISTS `collaborators`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `collaborators` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `code` varchar(255) DEFAULT NULL,
  `email` varchar(255) NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `phone` varchar(255) DEFAULT NULL,
  `country` varchar(255) DEFAULT NULL,
  `post_code` varchar(255) DEFAULT NULL,
  `address` text DEFAULT NULL,
  `organization_type` varchar(50) NOT NULL DEFAULT 'individual',
  `company_name` varchar(255) DEFAULT NULL,
  `tax_code` varchar(255) DEFAULT NULL,
  `website` varchar(255) DEFAULT NULL,
  `business_address` text DEFAULT NULL,
  `business_license` varchar(255) DEFAULT NULL,
  `avatar` varchar(255) DEFAULT NULL,
  `birthday` date DEFAULT NULL,
  `gender` tinyint(4) DEFAULT NULL COMMENT '1: male, 2: female, 3: other',
  `facebook` varchar(255) DEFAULT NULL,
  `zalo` varchar(255) DEFAULT NULL,
  `bank_name` varchar(255) DEFAULT NULL,
  `bank_account` varchar(255) DEFAULT NULL,
  `bank_account_name` varchar(255) DEFAULT NULL,
  `bank_branch` varchar(255) DEFAULT NULL,
  `organization_link` varchar(255) DEFAULT NULL,
  `points` int(11) NOT NULL DEFAULT 0,
  `rank_level_id` bigint(20) unsigned DEFAULT NULL,
  `description` text DEFAULT NULL,
  `status` tinyint(4) NOT NULL DEFAULT 1 COMMENT '1: active, 0: inactive',
  `approved_at` timestamp NULL DEFAULT NULL,
  `group_id` bigint(20) unsigned DEFAULT NULL,
  `remember_token` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_collaborators_rank_level` (`rank_level_id`),
  CONSTRAINT `fk_collaborators_rank_level` FOREIGN KEY (`rank_level_id`) REFERENCES `rank_levels` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=372 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `companies`
--

DROP TABLE IF EXISTS `companies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `companies` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) DEFAULT NULL,
  `logo` varchar(255) DEFAULT NULL,
  `company_code` varchar(255) DEFAULT NULL,
  `type` varchar(255) DEFAULT NULL,
  `address` varchar(255) DEFAULT NULL,
  `phone` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `website` varchar(255) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `status` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=82 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `company_business_fields`
--

DROP TABLE IF EXISTS `company_business_fields`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `company_business_fields` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_company` bigint(20) unsigned NOT NULL COMMENT 'ID c├ƒΓòù┬║a company',
  `content` text NOT NULL COMMENT 'N├ƒΓòù├ûi dung lΓöÇ┬«nh v├ƒΓòùΓûÆc kinh doanh',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `content_en` text DEFAULT NULL,
  `content_jp` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_company_business_fields_company` (`id_company`),
  CONSTRAINT `fk_company_business_fields_company` FOREIGN KEY (`id_company`) REFERENCES `companies` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `company_email_addresses`
--

DROP TABLE IF EXISTS `company_email_addresses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `company_email_addresses` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `company_id` bigint(20) unsigned NOT NULL,
  `email` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_company_email_addresses_company` (`company_id`),
  CONSTRAINT `fk_company_email_addresses_company` FOREIGN KEY (`company_id`) REFERENCES `companies` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `company_offices`
--

DROP TABLE IF EXISTS `company_offices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `company_offices` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_company` bigint(20) unsigned NOT NULL COMMENT 'ID c├ƒΓòù┬║a company',
  `address` text NOT NULL COMMENT 'ΓöÇ├ë├ƒΓòù├»a ch├ƒΓòù├½ vΓöÇ├ón phΓö£Γûông',
  `is_head_office` tinyint(1) NOT NULL DEFAULT 0 COMMENT '1: VΓöÇ├ón phΓö£Γûông chΓö£┬ính, 0: VΓöÇ├ón phΓö£Γûông chi nhΓö£├¡nh',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `address_en` text DEFAULT NULL,
  `address_jp` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_company_offices_company` (`id_company`),
  CONSTRAINT `fk_company_offices_company` FOREIGN KEY (`id_company`) REFERENCES `companies` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cv_storages`
--

DROP TABLE IF EXISTS `cv_storages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cv_storages` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `collaborator_id` bigint(20) unsigned DEFAULT NULL COMMENT 'ID c├ƒΓòù┬║a collaborator t├ƒΓòæ├¡o CV (n├ƒΓòæΓöÉu cΓö£Γöé)',
  `admin_id` bigint(20) unsigned DEFAULT NULL COMMENT 'ID c├ƒΓòù┬║a admin t├ƒΓòæ├¡o CV (n├ƒΓòæΓöÉu cΓö£Γöé)',
  `code` varchar(255) NOT NULL,
  `furigana` varchar(255) DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `phone` varchar(255) DEFAULT NULL,
  `birth_date` date DEFAULT NULL,
  `gender` tinyint(4) DEFAULT NULL,
  `ages` varchar(255) DEFAULT NULL,
  `address_origin` varchar(255) DEFAULT NULL,
  `passport` tinyint(4) DEFAULT NULL,
  `current_residence` tinyint(4) DEFAULT NULL,
  `jp_residence_status` tinyint(4) DEFAULT NULL,
  `visa_expiration_date` date DEFAULT NULL,
  `other_country` varchar(255) DEFAULT NULL,
  `address_current` varchar(255) DEFAULT NULL,
  `postal_code` varchar(20) DEFAULT NULL COMMENT 'MΓö£├║ b├úΓûæu ΓöÇ├ªi├ƒΓòù├ºn',
  `spouse` tinyint(4) DEFAULT NULL,
  `current_income` int(11) DEFAULT NULL,
  `desired_income` int(11) DEFAULT NULL,
  `desired_work_location` varchar(255) DEFAULT NULL,
  `desired_position` varchar(255) DEFAULT NULL COMMENT 'V├ƒΓòù├» trΓö£┬í mong mu├ƒΓòù├ªn',
  `nyusha_time` varchar(255) DEFAULT NULL,
  `interview_time` varchar(255) DEFAULT NULL,
  `learned_tools` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`learned_tools`)),
  `experience_tools` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`experience_tools`)),
  `jlpt_level` tinyint(4) DEFAULT NULL,
  `experience_years` tinyint(4) DEFAULT NULL,
  `specialization` tinyint(4) DEFAULT NULL,
  `qualification` tinyint(4) DEFAULT NULL,
  `educations` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'H├ƒΓòù├¼c v├ƒΓòæ├æn (array of education objects)' CHECK (json_valid(`educations`)),
  `work_experiences` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Kinh nghi├ƒΓòù├ºm lΓö£├ím vi├ƒΓòù├ºc (array of work experience objects)' CHECK (json_valid(`work_experiences`)),
  `technical_skills` text DEFAULT NULL COMMENT 'K├ƒΓòùΓòú nΓöÇ├óng k├ƒΓòùΓòú thu├ƒΓòæ┬ít',
  `certificates` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Ch├ƒΓòù┬«ng ch├ƒΓòù├½ (array of certificate objects)' CHECK (json_valid(`certificates`)),
  `career_summary` text DEFAULT NULL COMMENT 'TΓö£Γöém t├ƒΓòæ┬╗t ngh├ƒΓòù├╝ nghi├ƒΓòù├ºp',
  `strengths` text DEFAULT NULL COMMENT 'ΓöÇ├ëi├ƒΓòù├óm m├ƒΓòæ├¡nh',
  `motivation` text DEFAULT NULL COMMENT 'ΓöÇ├ë├ƒΓòù├ûng l├ƒΓòùΓûÆc ├ƒΓòù┬«ng tuy├ƒΓòù├ón',
  `other_documents` varchar(255) DEFAULT NULL,
  `photo_path` varchar(255) DEFAULT NULL,
  `curriculum_vitae` varchar(255) DEFAULT NULL,
  `cv_original_path` varchar(255) DEFAULT NULL COMMENT 'S3/local path: CV gß╗æc (file upload)',
  `cv_career_history_path` varchar(255) DEFAULT NULL COMMENT 'S3/local path: CV Φü╖σïÖτ╡îµ¡┤µ¢╕ (tab 2)',
  `notes` text DEFAULT NULL,
  `status` tinyint(4) NOT NULL DEFAULT 1,
  `is_duplicate` tinyint(1) DEFAULT 0 COMMENT 'Tr├ƒΓòæ├¡ng thΓö£├¡i trΓö£Γòúng l├ƒΓòæ├Çp: 0 = khΓö£Γöñng trΓö£Γòúng, 1 = trΓö£Γòúng',
  `duplicate_with_cv_id` bigint(20) unsigned DEFAULT NULL COMMENT 'ID c├ƒΓòù┬║a CV trΓö£Γòúng l├ƒΓòæ├Çp',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_cv_storages_code` (`code`),
  KEY `fk_cv_storages_collaborator` (`collaborator_id`),
  KEY `fk_cv_storages_admin` (`admin_id`),
  KEY `fk_cv_storages_duplicate` (`duplicate_with_cv_id`),
  CONSTRAINT `fk_cv_storages_admin` FOREIGN KEY (`admin_id`) REFERENCES `admins` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_cv_storages_collaborator` FOREIGN KEY (`collaborator_id`) REFERENCES `collaborators` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_cv_storages_duplicate` FOREIGN KEY (`duplicate_with_cv_id`) REFERENCES `cv_storages` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3391 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `email_newsletters`
--

DROP TABLE IF EXISTS `email_newsletters`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `email_newsletters` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `subject` varchar(255) NOT NULL,
  `content` text NOT NULL,
  `status` tinyint(4) NOT NULL DEFAULT 1,
  `sent_at` timestamp NULL DEFAULT NULL,
  `scheduled_at` timestamp NULL DEFAULT NULL,
  `created_by` bigint(20) unsigned NOT NULL,
  `recipients` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`recipients`)),
  `recipients_count` int(11) NOT NULL DEFAULT 0,
  `notes` text DEFAULT NULL,
  `type` tinyint(4) NOT NULL DEFAULT 1,
  `group_id` bigint(20) unsigned DEFAULT NULL,
  `file_attachment` varchar(255) DEFAULT NULL,
  `file_attachment_original_name` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `subject_en` varchar(255) DEFAULT NULL,
  `content_en` text DEFAULT NULL,
  `recipients_en` longtext DEFAULT NULL,
  `notes_en` text DEFAULT NULL,
  `file_attachment_en` varchar(255) DEFAULT NULL,
  `file_attachment_original_name_en` varchar(255) DEFAULT NULL,
  `subject_jp` varchar(255) DEFAULT NULL,
  `content_jp` text DEFAULT NULL,
  `recipients_jp` longtext DEFAULT NULL,
  `notes_jp` text DEFAULT NULL,
  `file_attachment_jp` varchar(255) DEFAULT NULL,
  `file_attachment_original_name_jp` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_email_newsletters_created_by` (`created_by`),
  KEY `fk_email_newsletters_group` (`group_id`),
  CONSTRAINT `fk_email_newsletters_created_by` FOREIGN KEY (`created_by`) REFERENCES `admins` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_email_newsletters_group` FOREIGN KEY (`group_id`) REFERENCES `groups` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `email_templates`
--

DROP TABLE IF EXISTS `email_templates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `email_templates` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `subject` varchar(255) NOT NULL,
  `content` text NOT NULL,
  `type` tinyint(4) NOT NULL DEFAULT 1,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `description` text DEFAULT NULL,
  `created_by` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `subject_en` varchar(255) DEFAULT NULL,
  `content_en` text DEFAULT NULL,
  `description_en` text DEFAULT NULL,
  `subject_jp` varchar(255) DEFAULT NULL,
  `content_jp` text DEFAULT NULL,
  `description_jp` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_email_templates_created_by` (`created_by`),
  CONSTRAINT `fk_email_templates_created_by` FOREIGN KEY (`created_by`) REFERENCES `admins` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `email_to_collaborator`
--

DROP TABLE IF EXISTS `email_to_collaborator`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `email_to_collaborator` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `collaborator_id` bigint(20) unsigned NOT NULL COMMENT 'ID c├ƒΓòù┬║a collaborator',
  `title` varchar(255) NOT NULL,
  `content` text NOT NULL,
  `subject` varchar(255) NOT NULL,
  `recipients` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`recipients`)),
  `recipients_detail` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`recipients_detail`)),
  `recipient_type` varchar(255) NOT NULL DEFAULT 'specific',
  `attachments` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`attachments`)),
  `status` varchar(255) NOT NULL DEFAULT 'draft',
  `sent_at` timestamp NULL DEFAULT NULL,
  `recipients_count` int(11) NOT NULL DEFAULT 0,
  `file_attachment_path` varchar(255) DEFAULT NULL,
  `file_attachment_original_name` varchar(255) DEFAULT NULL,
  `created_by` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `title_en` varchar(255) DEFAULT NULL,
  `content_en` text DEFAULT NULL,
  `subject_en` varchar(255) DEFAULT NULL,
  `recipients_en` longtext DEFAULT NULL,
  `recipients_detail_en` longtext DEFAULT NULL,
  `recipient_type_en` varchar(255) DEFAULT NULL,
  `attachments_en` longtext DEFAULT NULL,
  `status_en` varchar(255) DEFAULT NULL,
  `file_attachment_original_name_en` varchar(255) DEFAULT NULL,
  `title_jp` varchar(255) DEFAULT NULL,
  `content_jp` text DEFAULT NULL,
  `subject_jp` varchar(255) DEFAULT NULL,
  `recipients_jp` longtext DEFAULT NULL,
  `recipients_detail_jp` longtext DEFAULT NULL,
  `recipient_type_jp` varchar(255) DEFAULT NULL,
  `attachments_jp` longtext DEFAULT NULL,
  `status_jp` varchar(255) DEFAULT NULL,
  `file_attachment_original_name_jp` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_email_to_collaborator_collaborator` (`collaborator_id`),
  KEY `fk_email_to_collaborator_created_by` (`created_by`),
  CONSTRAINT `fk_email_to_collaborator_collaborator` FOREIGN KEY (`collaborator_id`) REFERENCES `collaborators` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_email_to_collaborator_created_by` FOREIGN KEY (`created_by`) REFERENCES `admins` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `email_to_companies`
--

DROP TABLE IF EXISTS `email_to_companies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `email_to_companies` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `email_company_id` bigint(20) unsigned DEFAULT NULL,
  `title` varchar(255) NOT NULL,
  `content` text NOT NULL,
  `subject` varchar(255) NOT NULL,
  `recipients` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`recipients`)),
  `recipients_detail` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`recipients_detail`)),
  `recipient_type` varchar(255) NOT NULL DEFAULT 'specific',
  `attachments` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`attachments`)),
  `status` varchar(255) NOT NULL DEFAULT 'draft',
  `sent_at` timestamp NULL DEFAULT NULL,
  `recipients_count` int(11) NOT NULL DEFAULT 0,
  `file_attachment_path` varchar(255) DEFAULT NULL,
  `file_attachment_original_name` varchar(255) DEFAULT NULL,
  `created_by` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `title_en` varchar(255) DEFAULT NULL,
  `content_en` text DEFAULT NULL,
  `subject_en` varchar(255) DEFAULT NULL,
  `recipients_en` longtext DEFAULT NULL,
  `recipients_detail_en` longtext DEFAULT NULL,
  `recipient_type_en` varchar(255) DEFAULT NULL,
  `attachments_en` longtext DEFAULT NULL,
  `status_en` varchar(255) DEFAULT NULL,
  `file_attachment_original_name_en` varchar(255) DEFAULT NULL,
  `title_jp` varchar(255) DEFAULT NULL,
  `content_jp` text DEFAULT NULL,
  `subject_jp` varchar(255) DEFAULT NULL,
  `recipients_jp` longtext DEFAULT NULL,
  `recipients_detail_jp` longtext DEFAULT NULL,
  `recipient_type_jp` varchar(255) DEFAULT NULL,
  `attachments_jp` longtext DEFAULT NULL,
  `status_jp` varchar(255) DEFAULT NULL,
  `file_attachment_original_name_jp` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_email_to_companies_email_company` (`email_company_id`),
  KEY `fk_email_to_companies_created_by` (`created_by`),
  CONSTRAINT `fk_email_to_companies_created_by` FOREIGN KEY (`created_by`) REFERENCES `admins` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `email_to_group`
--

DROP TABLE IF EXISTS `email_to_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `email_to_group` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `group_id` bigint(20) unsigned NOT NULL COMMENT 'ID c├ƒΓòù┬║a group',
  `title` varchar(255) NOT NULL,
  `content` text NOT NULL,
  `subject` varchar(255) NOT NULL,
  `recipients` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`recipients`)),
  `recipients_detail` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`recipients_detail`)),
  `recipient_type` varchar(255) NOT NULL DEFAULT 'specific',
  `attachments` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`attachments`)),
  `status` varchar(255) NOT NULL DEFAULT 'draft',
  `sent_at` timestamp NULL DEFAULT NULL,
  `recipients_count` int(11) NOT NULL DEFAULT 0,
  `file_attachment_path` varchar(255) DEFAULT NULL,
  `file_attachment_original_name` varchar(255) DEFAULT NULL,
  `created_by` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `title_en` varchar(255) DEFAULT NULL,
  `content_en` text DEFAULT NULL,
  `subject_en` varchar(255) DEFAULT NULL,
  `recipients_en` longtext DEFAULT NULL,
  `recipients_detail_en` longtext DEFAULT NULL,
  `recipient_type_en` varchar(255) DEFAULT NULL,
  `attachments_en` longtext DEFAULT NULL,
  `status_en` varchar(255) DEFAULT NULL,
  `file_attachment_original_name_en` varchar(255) DEFAULT NULL,
  `title_jp` varchar(255) DEFAULT NULL,
  `content_jp` text DEFAULT NULL,
  `subject_jp` varchar(255) DEFAULT NULL,
  `recipients_jp` longtext DEFAULT NULL,
  `recipients_detail_jp` longtext DEFAULT NULL,
  `recipient_type_jp` varchar(255) DEFAULT NULL,
  `attachments_jp` longtext DEFAULT NULL,
  `status_jp` varchar(255) DEFAULT NULL,
  `file_attachment_original_name_jp` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_email_to_group_group` (`group_id`),
  KEY `fk_email_to_group_created_by` (`created_by`),
  CONSTRAINT `fk_email_to_group_created_by` FOREIGN KEY (`created_by`) REFERENCES `admins` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_email_to_group_group` FOREIGN KEY (`group_id`) REFERENCES `groups` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `faqs`
--

DROP TABLE IF EXISTS `faqs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `faqs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `question` varchar(255) NOT NULL,
  `answer` text NOT NULL,
  `order` int(11) NOT NULL DEFAULT 0,
  `status` tinyint(4) NOT NULL DEFAULT 1 COMMENT '1: active, 0: inactive',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `question_en` varchar(255) DEFAULT NULL,
  `answer_en` text DEFAULT NULL,
  `question_jp` varchar(255) DEFAULT NULL,
  `answer_jp` text DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `groups`
--

DROP TABLE IF EXISTS `groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `groups` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `code` varchar(255) NOT NULL,
  `referral_code` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `status` tinyint(4) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `description_en` text DEFAULT NULL,
  `description_jp` text DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `home_setting_company_infos`
--

DROP TABLE IF EXISTS `home_setting_company_infos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `home_setting_company_infos` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `company_name` varchar(255) NOT NULL,
  `establishment_date` varchar(255) NOT NULL,
  `company_address` varchar(255) NOT NULL,
  `representative_name` varchar(255) NOT NULL,
  `main_business` text NOT NULL,
  `business_code` varchar(255) NOT NULL,
  `company_email` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `company_name_en` varchar(255) DEFAULT NULL,
  `establishment_date_en` varchar(255) DEFAULT NULL,
  `company_address_en` varchar(255) DEFAULT NULL,
  `representative_name_en` varchar(255) DEFAULT NULL,
  `main_business_en` text DEFAULT NULL,
  `company_email_en` varchar(255) DEFAULT NULL,
  `company_name_jp` varchar(255) DEFAULT NULL,
  `establishment_date_jp` varchar(255) DEFAULT NULL,
  `company_address_jp` varchar(255) DEFAULT NULL,
  `representative_name_jp` varchar(255) DEFAULT NULL,
  `main_business_jp` text DEFAULT NULL,
  `company_email_jp` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `home_setting_jobs`
--

DROP TABLE IF EXISTS `home_setting_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `home_setting_jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `post_id` bigint(20) unsigned DEFAULT NULL,
  `title` varchar(255) NOT NULL,
  `color` varchar(20) DEFAULT NULL,
  `order` int(11) NOT NULL DEFAULT 1,
  `thumbnail` varchar(255) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `requirement` varchar(255) DEFAULT NULL,
  `salary` int(11) DEFAULT NULL,
  `salary_unit` varchar(255) DEFAULT NULL,
  `status` tinyint(4) NOT NULL DEFAULT 0 COMMENT '1: active, 0: inactive',
  `popup` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `title_en` varchar(255) DEFAULT NULL,
  `color_en` varchar(20) DEFAULT NULL,
  `thumbnail_en` varchar(255) DEFAULT NULL,
  `description_en` text DEFAULT NULL,
  `requirement_en` varchar(255) DEFAULT NULL,
  `salary_unit_en` varchar(255) DEFAULT NULL,
  `popup_en` text DEFAULT NULL,
  `title_jp` varchar(255) DEFAULT NULL,
  `color_jp` varchar(20) DEFAULT NULL,
  `thumbnail_jp` varchar(255) DEFAULT NULL,
  `description_jp` text DEFAULT NULL,
  `requirement_jp` varchar(255) DEFAULT NULL,
  `salary_unit_jp` varchar(255) DEFAULT NULL,
  `popup_jp` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_home_setting_jobs_post` (`post_id`),
  CONSTRAINT `fk_home_setting_jobs_post` FOREIGN KEY (`post_id`) REFERENCES `posts` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `home_setting_partners`
--

DROP TABLE IF EXISTS `home_setting_partners`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `home_setting_partners` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `url` varchar(255) DEFAULT NULL,
  `logo` varchar(255) NOT NULL,
  `order` int(11) NOT NULL DEFAULT 0,
  `status` tinyint(4) NOT NULL DEFAULT 0 COMMENT '1: active, 0: inactive',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `url_en` varchar(255) DEFAULT NULL,
  `logo_en` varchar(255) DEFAULT NULL,
  `url_jp` varchar(255) DEFAULT NULL,
  `logo_jp` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `job_application_memos`
--

DROP TABLE IF EXISTS `job_application_memos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `job_application_memos` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `job_application_id` bigint(20) unsigned NOT NULL,
  `job_id` bigint(20) unsigned DEFAULT NULL,
  `note` text NOT NULL,
  `created_by` bigint(20) unsigned NOT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_job_application_memos_job_application_id` (`job_application_id`),
  KEY `idx_job_application_memos_job_id` (`job_id`),
  KEY `fk_memos_admin` (`created_by`),
  CONSTRAINT `fk_memos_admin` FOREIGN KEY (`created_by`) REFERENCES `admins` (`id`),
  CONSTRAINT `fk_memos_job` FOREIGN KEY (`job_id`) REFERENCES `jobs` (`id`),
  CONSTRAINT `fk_memos_job_application` FOREIGN KEY (`job_application_id`) REFERENCES `job_applications` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `job_applications`
--

DROP TABLE IF EXISTS `job_applications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `job_applications` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `job_id` bigint(20) unsigned NOT NULL,
  `collaborator_id` bigint(20) unsigned DEFAULT NULL,
  `admin_id` bigint(20) unsigned DEFAULT NULL,
  `admin_responsible_id` bigint(20) unsigned DEFAULT NULL,
  `title` text DEFAULT NULL COMMENT 'TiΓö£┬¼u ΓöÇ├ª├ƒΓòù├╝',
  `status` int(11) DEFAULT NULL COMMENT 'Tr├ƒΓòæ├¡ng thΓö£├¡i : 1. Admin ΓöÇ├ªang x├ƒΓòù┬í lΓö£┬ó h├ƒΓòù├┤ s├ú├¡, 2. ΓöÇ├ëang ti├ƒΓòæΓöÉn c├ƒΓòù┬í, 3. ΓöÇ├ëang x├ƒΓòæΓöÉp l├ƒΓòù├»ch ph├ƒΓòù├àng v├ƒΓòæ├æn, 4. ΓöÇ├ëang ph├ƒΓòù├àng v├ƒΓòæ├æn, 5. ΓöÇ├ëang ΓöÇ├ª├ƒΓòù├║i naitei, 6. ΓöÇ├ëang th├úΓûæ├ú├¡ng l├úΓûæ├ƒΓòù├║ng naitei, 7. ΓöÇ├ëang ΓöÇ├ª├ƒΓòù├║i nyusha, 8. ΓöÇ├ëΓö£├║ nyusha, 9. ΓöÇ├ëang ch├ƒΓòù├ÿ thanh toΓö£├¡n v├ƒΓòù├╕i cΓö£Γöñng ty, 10. G├ƒΓòù┬íi yΓö£┬¼u c├ƒΓòæ┬║u thanh toΓö£├¡n, 11. ΓöÇ├ëΓö£├║ thanh toΓö£├¡n, 12. H├ƒΓòù├┤ s├ú├¡ khΓö£Γöñng h├ƒΓòù├║p l├ƒΓòù├º, 13. H├ƒΓòù├┤ s├ú├¡ b├ƒΓòù├» trΓö£Γòúng, 14. H├ƒΓòù├┤ s├ú├¡ khΓö£Γöñng ΓöÇ├ª├ƒΓòæ├¡t, 15. K├ƒΓòæΓöÉt qu├ƒΓòæ├║ tr├úΓûæ├ƒΓòù├║t, 16. H├ƒΓòù┬║y gi├ƒΓòù┬╗a ch├ƒΓòù┬╜ng, 17. KhΓö£Γöñng shodaku',
  `cv_code` varchar(255) DEFAULT NULL COMMENT 'MΓö£├║ CV (code) tham chi├ƒΓòæΓöÉu cv_storages.code',
  `monthly_salary` decimal(15,2) DEFAULT NULL,
  `yearly_salary` decimal(15,2) DEFAULT NULL COMMENT 'L╞░╞íng n─âm cß╗ºa ß╗⌐ng vi├¬n (VND hoß║╖c Σ╕çσåå)',
  `applied_at` timestamp NULL DEFAULT NULL,
  `interview_date` datetime DEFAULT NULL,
  `interview_round2_date` datetime DEFAULT NULL,
  `nyusha_date` date DEFAULT NULL,
  `expected_payment_date` date DEFAULT NULL,
  `assignment_note` text DEFAULT NULL,
  `memo` text DEFAULT NULL,
  `reject_note` text DEFAULT NULL COMMENT 'LΓö£┬ó do t├ƒΓòù┬╜ ch├ƒΓòù├ªi',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `title_en` text DEFAULT NULL,
  `reject_note_en` text DEFAULT NULL,
  `title_jp` text DEFAULT NULL,
  `reject_note_jp` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_job_applications_job` (`job_id`),
  KEY `fk_job_applications_collaborator` (`collaborator_id`),
  KEY `fk_job_applications_cv` (`cv_code`),
  KEY `fk_job_applications_admin` (`admin_id`),
  KEY `fk_job_applications_admin_responsible` (`admin_responsible_id`),
  CONSTRAINT `fk_job_applications_admin` FOREIGN KEY (`admin_id`) REFERENCES `admins` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_job_applications_admin_responsible` FOREIGN KEY (`admin_responsible_id`) REFERENCES `admins` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_job_applications_collaborator` FOREIGN KEY (`collaborator_id`) REFERENCES `collaborators` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_job_applications_cv` FOREIGN KEY (`cv_code`) REFERENCES `cv_storages` (`code`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_job_applications_job` FOREIGN KEY (`job_id`) REFERENCES `jobs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=796 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `job_campaigns`
--

DROP TABLE IF EXISTS `job_campaigns`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `job_campaigns` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `campaign_id` bigint(20) unsigned NOT NULL,
  `job_id` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_campaign_job` (`campaign_id`,`job_id`),
  KEY `fk_job_campaigns_job` (`job_id`),
  CONSTRAINT `fk_job_campaigns_campaign` FOREIGN KEY (`campaign_id`) REFERENCES `campaigns` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_job_campaigns_job` FOREIGN KEY (`job_id`) REFERENCES `jobs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1557 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `job_categories`
--

DROP TABLE IF EXISTS `job_categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `job_categories` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `name_en` varchar(255) DEFAULT NULL,
  `name_jp` varchar(255) DEFAULT NULL,
  `slug` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `parent_id` bigint(20) unsigned DEFAULT NULL,
  `order` int(11) NOT NULL DEFAULT 0,
  `status` tinyint(4) NOT NULL DEFAULT 1 COMMENT '0: inactive, 1: active',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `description_en` text DEFAULT NULL,
  `description_jp` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_job_categories_parent` (`parent_id`),
  CONSTRAINT `fk_job_categories_parent` FOREIGN KEY (`parent_id`) REFERENCES `job_categories` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=366 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `job_pickups`
--

DROP TABLE IF EXISTS `job_pickups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `job_pickups` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `job_pickups_id`
--

DROP TABLE IF EXISTS `job_pickups_id`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `job_pickups_id` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_job_pickups` bigint(20) unsigned NOT NULL COMMENT 'ID c├ƒΓòù┬║a job_pickups',
  `id_job` bigint(20) unsigned NOT NULL COMMENT 'ID c├ƒΓòù┬║a job',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_job_pickups_id_pickup` (`id_job_pickups`),
  KEY `fk_job_pickups_id_job` (`id_job`),
  CONSTRAINT `fk_job_pickups_id_job` FOREIGN KEY (`id_job`) REFERENCES `jobs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_job_pickups_id_pickup` FOREIGN KEY (`id_job_pickups`) REFERENCES `job_pickups` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=57 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `job_recruiting_companies`
--

DROP TABLE IF EXISTS `job_recruiting_companies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `job_recruiting_companies` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `job_id` bigint(20) unsigned NOT NULL COMMENT 'ID cß╗ºa job',
  `company_name` varchar(255) DEFAULT NULL COMMENT 'T├¬n c├┤ng ty',
  `revenue` varchar(255) DEFAULT NULL COMMENT 'Doanh thu',
  `number_of_employees` varchar(255) DEFAULT NULL COMMENT 'Sß╗æ nh├ón vi├¬n',
  `headquarters` varchar(255) DEFAULT NULL COMMENT 'Trß╗Ñ sß╗ƒ tß║íi',
  `company_introduction` text DEFAULT NULL COMMENT 'Giß╗¢i thiß╗çu chung vß╗ü c├┤ng ty',
  `stock_exchange_info` varchar(255) DEFAULT NULL COMMENT 'Th├┤ng tin tr├¬n s├án chß╗⌐ng kho├ín',
  `investment_capital` varchar(255) DEFAULT NULL COMMENT 'Vß╗æn ─æß║ºu t╞░',
  `established_date` varchar(255) DEFAULT NULL COMMENT 'Th├ánh lß║¡p',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `company_name_en` varchar(255) DEFAULT NULL,
  `revenue_en` varchar(255) DEFAULT NULL,
  `number_of_employees_en` varchar(255) DEFAULT NULL,
  `headquarters_en` varchar(255) DEFAULT NULL,
  `company_introduction_en` text DEFAULT NULL,
  `stock_exchange_info_en` varchar(255) DEFAULT NULL,
  `investment_capital_en` varchar(255) DEFAULT NULL,
  `established_date_en` varchar(255) DEFAULT NULL,
  `company_name_jp` varchar(255) DEFAULT NULL,
  `revenue_jp` varchar(255) DEFAULT NULL,
  `number_of_employees_jp` varchar(255) DEFAULT NULL,
  `headquarters_jp` varchar(255) DEFAULT NULL,
  `company_introduction_jp` text DEFAULT NULL,
  `stock_exchange_info_jp` varchar(255) DEFAULT NULL,
  `investment_capital_jp` varchar(255) DEFAULT NULL,
  `established_date_jp` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_job_recruiting_company` (`job_id`),
  KEY `fk_job_recruiting_companies_job` (`job_id`),
  CONSTRAINT `fk_job_recruiting_companies_job` FOREIGN KEY (`job_id`) REFERENCES `jobs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Th├┤ng tin c├┤ng ty tuyß╗ân dß╗Ñng thß╗▒c tß║┐ trong JD';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `job_recruiting_company_business_sectors`
--

DROP TABLE IF EXISTS `job_recruiting_company_business_sectors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `job_recruiting_company_business_sectors` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `job_recruiting_company_id` bigint(20) unsigned NOT NULL COMMENT 'ID cß╗ºa job_recruiting_company',
  `sector_name` varchar(255) NOT NULL COMMENT 'T├¬n l─⌐nh vß╗▒c kinh doanh',
  `order` int(11) NOT NULL DEFAULT 0 COMMENT 'Thß╗⌐ tß╗▒ hiß╗ân thß╗ï',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `sector_name_en` varchar(255) DEFAULT NULL,
  `sector_name_jp` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_job_recruiting_company_business_sectors_company` (`job_recruiting_company_id`),
  CONSTRAINT `fk_job_recruiting_company_business_sectors_company` FOREIGN KEY (`job_recruiting_company_id`) REFERENCES `job_recruiting_companies` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='C├íc l─⌐nh vß╗▒c kinh doanh cß╗ºa c├┤ng ty tuyß╗ân dß╗Ñng';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `job_recruiting_company_services`
--

DROP TABLE IF EXISTS `job_recruiting_company_services`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `job_recruiting_company_services` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `job_recruiting_company_id` bigint(20) unsigned NOT NULL COMMENT 'ID cß╗ºa job_recruiting_company',
  `service_name` varchar(255) NOT NULL COMMENT 'T├¬n dß╗ïch vß╗Ñ',
  `order` int(11) NOT NULL DEFAULT 0 COMMENT 'Thß╗⌐ tß╗▒ hiß╗ân thß╗ï',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `service_name_en` varchar(255) DEFAULT NULL,
  `service_name_jp` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_job_recruiting_company_services_company` (`job_recruiting_company_id`),
  CONSTRAINT `fk_job_recruiting_company_services_company` FOREIGN KEY (`job_recruiting_company_id`) REFERENCES `job_recruiting_companies` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='C├íc dß╗ïch vß╗Ñ cung cß║Ñp cß╗ºa c├┤ng ty tuyß╗ân dß╗Ñng';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `job_values`
--

DROP TABLE IF EXISTS `job_values`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `job_values` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `job_id` bigint(20) unsigned NOT NULL COMMENT 'ID c├ƒΓòù┬║a job',
  `id_typename` bigint(20) unsigned NOT NULL COMMENT 'ID c├ƒΓòù┬║a type',
  `id_value` bigint(20) unsigned NOT NULL COMMENT 'ID c├ƒΓòù┬║a value',
  `value` varchar(255) DEFAULT NULL COMMENT 'GiΓö£├¡ tr├ƒΓòù├» c├ƒΓòù├æ th├ƒΓòù├ó (vΓö£┬í d├ƒΓòù├æ: s├ƒΓòù├ª ti├ƒΓòù├╝n, ph├ƒΓòæ┬║n trΓöÇ├óm)',
  `is_required` tinyint(1) NOT NULL DEFAULT 0 COMMENT '0: KhΓö£Γöñng b├ƒΓòæ┬╗t bu├ƒΓòù├ûc, 1: B├ƒΓòæ┬╗t bu├ƒΓòù├ûc',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `value_en` varchar(255) DEFAULT NULL,
  `value_jp` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_job_values_job` (`job_id`),
  KEY `fk_job_values_type` (`id_typename`),
  KEY `fk_job_values_value` (`id_value`),
  CONSTRAINT `fk_job_values_job` FOREIGN KEY (`job_id`) REFERENCES `jobs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_job_values_type` FOREIGN KEY (`id_typename`) REFERENCES `types` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_job_values_value` FOREIGN KEY (`id_value`) REFERENCES `values` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `job_code` varchar(255) NOT NULL,
  `job_category_id` bigint(20) unsigned NOT NULL,
  `title` varchar(255) NOT NULL,
  `slug` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `instruction` text DEFAULT NULL,
  `interview_location` tinyint(4) DEFAULT NULL COMMENT '1: Vi├ƒΓòù├ºt Nam, 2: Nh├ƒΓòæ┬ít B├ƒΓòæ├║n, 3: Vi├ƒΓòù├ºt Nam & Nh├ƒΓòæ┬ít B├ƒΓòæ├║n',
  `bonus` text DEFAULT NULL,
  `salary_review` text DEFAULT NULL,
  `holidays` text DEFAULT NULL,
  `social_insurance` text DEFAULT NULL,
  `transportation` text DEFAULT NULL,
  `break_time` text DEFAULT NULL,
  `overtime` text DEFAULT NULL,
  `recruitment_type` tinyint(4) DEFAULT NULL COMMENT '1: NhΓö£├│n viΓö£┬¼n chΓö£┬ính th├ƒΓòù┬«c, 2: NhΓö£├│n viΓö£┬¼n chΓö£┬ính th├ƒΓòù┬«c (cΓö£Γöñng ty haken; h├ƒΓòù├║p ΓöÇ├ª├ƒΓòù├┤ng vΓö£Γöñ th├ƒΓòù├ÿi h├ƒΓòæ├¡n), 3: NhΓö£├│n viΓö£┬¼n haken (h├ƒΓòù├║p ΓöÇ├ª├ƒΓòù├┤ng cΓö£Γöé th├ƒΓòù├ÿi h├ƒΓòæ├¡n), 4: NhΓö£├│n viΓö£┬¼n h├ƒΓòù├║p ΓöÇ├ª├ƒΓòù├┤ng',
  `contract_period` text DEFAULT NULL,
  `company_id` bigint(20) unsigned DEFAULT NULL,
  `recruitment_process` text DEFAULT NULL,
  `views_count` int(11) NOT NULL DEFAULT 0,
  `deadline` date DEFAULT NULL,
  `status` tinyint(4) NOT NULL DEFAULT 1 COMMENT '0: Draft, 1: Published, 2: Closed, 3: Expired',
  `is_pinned` tinyint(1) NOT NULL DEFAULT 0,
  `jd_file` varchar(255) DEFAULT NULL,
  `jd_original_filename` varchar(255) DEFAULT NULL,
  `is_hot` tinyint(1) DEFAULT 0 COMMENT '0: KhΓö£Γöñng, 1: CΓö£Γöé',
  `job_commission_type` enum('fixed','percent') DEFAULT 'fixed' COMMENT 'Lo├ƒΓòæ├¡i hoa h├ƒΓòù├┤ng: fixed = c├ƒΓòù├ª ΓöÇ├ª├ƒΓòù├»nh, percent = ph├ƒΓòæ┬║n trΓöÇ├óm',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `required_cv_form` varchar(255) DEFAULT NULL COMMENT 'ΓöÇ├ë├úΓûæ├ƒΓòù├ÿng d├ƒΓòæ┬╜n file form CV b├ƒΓòæ┬╗t bu├ƒΓòù├ûc c├ƒΓòù┬║a khΓö£├¡ch hΓö£├íng',
  `required_cv_form_original_filename` varchar(255) DEFAULT NULL COMMENT 'TΓö£┬¼n file g├ƒΓòù├ªc c├ƒΓòù┬║a form CV b├ƒΓòæ┬╗t bu├ƒΓòù├ûc',
  `title_en` varchar(255) DEFAULT NULL,
  `description_en` text DEFAULT NULL,
  `instruction_en` text DEFAULT NULL,
  `bonus_en` text DEFAULT NULL,
  `salary_review_en` text DEFAULT NULL,
  `holidays_en` text DEFAULT NULL,
  `social_insurance_en` text DEFAULT NULL,
  `transportation_en` text DEFAULT NULL,
  `break_time_en` text DEFAULT NULL,
  `overtime_en` text DEFAULT NULL,
  `contract_period_en` text DEFAULT NULL,
  `recruitment_process_en` text DEFAULT NULL,
  `title_jp` varchar(255) DEFAULT NULL,
  `description_jp` text DEFAULT NULL,
  `instruction_jp` text DEFAULT NULL,
  `bonus_jp` text DEFAULT NULL,
  `salary_review_jp` text DEFAULT NULL,
  `holidays_jp` text DEFAULT NULL,
  `social_insurance_jp` text DEFAULT NULL,
  `transportation_jp` text DEFAULT NULL,
  `break_time_jp` text DEFAULT NULL,
  `overtime_jp` text DEFAULT NULL,
  `contract_period_jp` text DEFAULT NULL,
  `recruitment_process_jp` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_jobs_category` (`job_category_id`),
  CONSTRAINT `fk_jobs_category` FOREIGN KEY (`job_category_id`) REFERENCES `job_categories` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=469 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `mail_settings`
--

DROP TABLE IF EXISTS `mail_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mail_settings` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `email` varchar(255) NOT NULL,
  `type` tinyint(4) NOT NULL COMMENT '1: CC, 2: BCC',
  `note` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `note_en` varchar(255) DEFAULT NULL,
  `note_jp` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `messages`
--

DROP TABLE IF EXISTS `messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `messages` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `job_application_id` bigint(20) unsigned NOT NULL COMMENT 'ID c├ƒΓòù┬║a job_application liΓö£┬¼n quan',
  `admin_id` bigint(20) unsigned DEFAULT NULL COMMENT 'Admin g├ƒΓòù┬íi/nh├ƒΓòæ┬ín tin nh├ƒΓòæ┬╗n',
  `collaborator_id` bigint(20) unsigned DEFAULT NULL COMMENT 'CTV g├ƒΓòù┬íi/nh├ƒΓòæ┬ín tin nh├ƒΓòæ┬╗n',
  `sender_type` tinyint(4) NOT NULL COMMENT '1: Admin, 2: Collaborator, 3: System',
  `content` text NOT NULL COMMENT 'N├ƒΓòù├ûi dung tin nh├ƒΓòæ┬╗n',
  `is_read_by_admin` tinyint(1) NOT NULL DEFAULT 0,
  `is_read_by_collaborator` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_messages_job_application` (`job_application_id`),
  KEY `fk_messages_admin` (`admin_id`),
  KEY `fk_messages_collaborator` (`collaborator_id`),
  CONSTRAINT `fk_messages_admin` FOREIGN KEY (`admin_id`) REFERENCES `admins` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_messages_collaborator` FOREIGN KEY (`collaborator_id`) REFERENCES `collaborators` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_messages_job_application` FOREIGN KEY (`job_application_id`) REFERENCES `job_applications` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=42 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `outlook_connections`
--

DROP TABLE IF EXISTS `outlook_connections`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `outlook_connections` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `email` varchar(255) NOT NULL,
  `access_token` text DEFAULT NULL,
  `refresh_token` text DEFAULT NULL,
  `expires_at` datetime DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `last_sync_at` datetime DEFAULT NULL,
  `sync_enabled` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `access_token_en` text DEFAULT NULL,
  `refresh_token_en` text DEFAULT NULL,
  `access_token_jp` text DEFAULT NULL,
  `refresh_token_jp` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `outlook_connections_email_unique` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `overtime_allowance_details`
--

DROP TABLE IF EXISTS `overtime_allowance_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `overtime_allowance_details` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `job_id` bigint(20) unsigned NOT NULL,
  `content` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `content_en` text DEFAULT NULL,
  `content_jp` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_overtime_allowance_details_job` (`job_id`),
  CONSTRAINT `fk_overtime_allowance_details_job` FOREIGN KEY (`job_id`) REFERENCES `jobs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=526 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `overtime_allowances`
--

DROP TABLE IF EXISTS `overtime_allowances`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `overtime_allowances` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `job_id` bigint(20) unsigned NOT NULL,
  `overtime_allowance_range` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `overtime_allowance_range_en` varchar(255) DEFAULT NULL,
  `overtime_allowance_range_jp` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_overtime_allowances_job` (`job_id`),
  CONSTRAINT `fk_overtime_allowances_job` FOREIGN KEY (`job_id`) REFERENCES `jobs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=526 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `payment_requests`
--

DROP TABLE IF EXISTS `payment_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payment_requests` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `collaborator_id` bigint(20) unsigned NOT NULL,
  `job_application_id` bigint(20) unsigned NOT NULL,
  `amount` decimal(12,2) NOT NULL,
  `status` tinyint(4) NOT NULL DEFAULT 0 COMMENT '0: Ch├ƒΓòù├ÿ duy├ƒΓòù├ºt, 1: ΓöÇ├ëΓö£├║ duy├ƒΓòù├ºt, 2: T├ƒΓòù┬╜ ch├ƒΓòù├ªi, 3: ΓöÇ├ëΓö£├║ thanh toΓö£├¡n',
  `note` text DEFAULT NULL,
  `approved_at` timestamp NULL DEFAULT NULL,
  `rejected_at` timestamp NULL DEFAULT NULL,
  `rejected_reason` text DEFAULT NULL,
  `file_path` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `note_en` text DEFAULT NULL,
  `rejected_reason_en` text DEFAULT NULL,
  `note_jp` text DEFAULT NULL,
  `rejected_reason_jp` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_payment_requests_collaborator` (`collaborator_id`),
  KEY `fk_payment_requests_job_application` (`job_application_id`),
  CONSTRAINT `fk_payment_requests_collaborator` FOREIGN KEY (`collaborator_id`) REFERENCES `collaborators` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_payment_requests_job_application` FOREIGN KEY (`job_application_id`) REFERENCES `job_applications` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `posts`
--

DROP TABLE IF EXISTS `posts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `posts` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `content` text NOT NULL,
  `slug` varchar(255) NOT NULL,
  `image` varchar(255) DEFAULT NULL,
  `status` tinyint(4) NOT NULL DEFAULT 1,
  `type` tinyint(4) NOT NULL DEFAULT 1,
  `category_id` varchar(255) DEFAULT NULL,
  `author_id` bigint(20) unsigned DEFAULT NULL,
  `view_count` int(11) NOT NULL DEFAULT 0,
  `like_count` int(11) NOT NULL DEFAULT 0,
  `tag` varchar(255) DEFAULT NULL,
  `meta_title` varchar(255) DEFAULT NULL,
  `meta_description` varchar(255) DEFAULT NULL,
  `meta_keywords` varchar(255) DEFAULT NULL,
  `meta_image` varchar(255) DEFAULT NULL,
  `meta_url` varchar(255) DEFAULT NULL,
  `published_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `title_en` varchar(255) DEFAULT NULL,
  `content_en` text DEFAULT NULL,
  `image_en` varchar(255) DEFAULT NULL,
  `tag_en` varchar(255) DEFAULT NULL,
  `meta_title_en` varchar(255) DEFAULT NULL,
  `meta_description_en` varchar(255) DEFAULT NULL,
  `meta_keywords_en` varchar(255) DEFAULT NULL,
  `meta_image_en` varchar(255) DEFAULT NULL,
  `title_jp` varchar(255) DEFAULT NULL,
  `content_jp` text DEFAULT NULL,
  `image_jp` varchar(255) DEFAULT NULL,
  `tag_jp` varchar(255) DEFAULT NULL,
  `meta_title_jp` varchar(255) DEFAULT NULL,
  `meta_description_jp` varchar(255) DEFAULT NULL,
  `meta_keywords_jp` varchar(255) DEFAULT NULL,
  `meta_image_jp` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_posts_author` (`author_id`),
  CONSTRAINT `fk_posts_author` FOREIGN KEY (`author_id`) REFERENCES `admins` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `rank_levels`
--

DROP TABLE IF EXISTS `rank_levels`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rank_levels` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `percent` decimal(5,2) NOT NULL COMMENT 'Ph├ƒΓòæ┬║n trΓöÇ├óm hoa h├ƒΓòù├┤ng c├ƒΓòù┬║a rank',
  `description` text DEFAULT NULL,
  `points_required` int(11) NOT NULL DEFAULT 0,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `requirements`
--

DROP TABLE IF EXISTS `requirements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `requirements` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `job_id` bigint(20) unsigned NOT NULL,
  `content` text NOT NULL,
  `type` varchar(50) NOT NULL COMMENT 'education: H├ƒΓòù├¼c v├ƒΓòæ├æn, technique: K├ƒΓòùΓòú thu├ƒΓòæ┬ít',
  `status` varchar(50) NOT NULL COMMENT 'required: B├ƒΓòæ┬╗t bu├ƒΓòù├ûc, optional: TΓö£Γòúy ch├ƒΓòù├¼n, first_stand: ├ú┬╗u tiΓö£┬¼n',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `content_en` text DEFAULT NULL,
  `type_en` varchar(50) DEFAULT NULL,
  `status_en` varchar(50) DEFAULT NULL,
  `content_jp` text DEFAULT NULL,
  `type_jp` varchar(50) DEFAULT NULL,
  `status_jp` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_requirements_job` (`job_id`),
  CONSTRAINT `fk_requirements_job` FOREIGN KEY (`job_id`) REFERENCES `jobs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4762 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `salary_range_details`
--

DROP TABLE IF EXISTS `salary_range_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `salary_range_details` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `job_id` bigint(20) unsigned NOT NULL,
  `content` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `content_en` text DEFAULT NULL,
  `content_jp` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_salary_range_details_job` (`job_id`),
  CONSTRAINT `fk_salary_range_details_job` FOREIGN KEY (`job_id`) REFERENCES `jobs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=970 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `salary_ranges`
--

DROP TABLE IF EXISTS `salary_ranges`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `salary_ranges` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `job_id` bigint(20) unsigned NOT NULL,
  `salary_range` varchar(255) NOT NULL,
  `type` varchar(50) NOT NULL COMMENT 'month: Theo thΓö£├¡ng, year: Theo nΓöÇ├óm',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `salary_range_en` varchar(255) DEFAULT NULL,
  `type_en` varchar(50) DEFAULT NULL,
  `salary_range_jp` varchar(255) DEFAULT NULL,
  `type_jp` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_salary_ranges_job` (`job_id`),
  CONSTRAINT `fk_salary_ranges_job` FOREIGN KEY (`job_id`) REFERENCES `jobs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1094 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `search_history`
--

DROP TABLE IF EXISTS `search_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `search_history` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `collaborator_id` bigint(20) unsigned NOT NULL COMMENT 'ID cß╗ºa collaborator',
  `keyword` varchar(255) DEFAULT NULL COMMENT 'Tß╗½ kh├│a t├¼m kiß║┐m',
  `filters` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'C├íc ─æiß╗üu kiß╗çn lß╗ìc ─æ├ú chß╗ìn (JSON)',
  `result_count` int(11) DEFAULT 0 COMMENT 'Sß╗æ l╞░ß╗úng kß║┐t quß║ú t├¼m ─æ╞░ß╗úc',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `keyword_en` varchar(255) DEFAULT NULL,
  `filters_en` longtext DEFAULT NULL,
  `keyword_jp` varchar(255) DEFAULT NULL,
  `filters_jp` longtext DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_search_history_collaborator_created` (`collaborator_id`,`created_at`),
  CONSTRAINT `fk_search_history_collaborator` FOREIGN KEY (`collaborator_id`) REFERENCES `collaborators` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Lß╗ïch sß╗¡ t├¼m kiß║┐m cß╗ºa CTV';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `smoking_policies`
--

DROP TABLE IF EXISTS `smoking_policies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `smoking_policies` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `job_id` bigint(20) unsigned NOT NULL,
  `allow` tinyint(1) NOT NULL COMMENT '1: Cho phΓö£┬«p, 0: KhΓö£Γöñng cho phΓö£┬«p',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_smoking_policies_job` (`job_id`),
  CONSTRAINT `fk_smoking_policies_job` FOREIGN KEY (`job_id`) REFERENCES `jobs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=630 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `smoking_policy_details`
--

DROP TABLE IF EXISTS `smoking_policy_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `smoking_policy_details` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `job_id` bigint(20) unsigned NOT NULL,
  `content` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `content_en` text DEFAULT NULL,
  `content_jp` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_smoking_policy_details_job` (`job_id`),
  CONSTRAINT `fk_smoking_policy_details_job` FOREIGN KEY (`job_id`) REFERENCES `jobs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=630 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `synced_emails`
--

DROP TABLE IF EXISTS `synced_emails`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `synced_emails` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `outlook_connection_id` bigint(20) unsigned NOT NULL,
  `message_id` varchar(255) NOT NULL,
  `conversation_id` varchar(255) DEFAULT NULL,
  `internet_message_id` varchar(255) DEFAULT NULL,
  `subject` varchar(500) DEFAULT NULL,
  `body` text DEFAULT NULL,
  `body_preview` text DEFAULT NULL,
  `from_email` varchar(255) DEFAULT NULL,
  `from_name` varchar(255) DEFAULT NULL,
  `to_recipients` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`to_recipients`)),
  `cc_recipients` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`cc_recipients`)),
  `bcc_recipients` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`bcc_recipients`)),
  `received_date_time` datetime DEFAULT NULL,
  `sent_date_time` datetime DEFAULT NULL,
  `is_read` tinyint(1) NOT NULL DEFAULT 0,
  `has_attachments` tinyint(1) NOT NULL DEFAULT 0,
  `importance` varchar(50) DEFAULT NULL,
  `folder` varchar(100) NOT NULL DEFAULT 'inbox',
  `direction` enum('inbound','outbound') NOT NULL DEFAULT 'inbound',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `subject_en` varchar(500) DEFAULT NULL,
  `body_en` text DEFAULT NULL,
  `body_preview_en` text DEFAULT NULL,
  `from_email_en` varchar(255) DEFAULT NULL,
  `from_name_en` varchar(255) DEFAULT NULL,
  `to_recipients_en` longtext DEFAULT NULL,
  `cc_recipients_en` longtext DEFAULT NULL,
  `bcc_recipients_en` longtext DEFAULT NULL,
  `importance_en` varchar(50) DEFAULT NULL,
  `folder_en` varchar(100) DEFAULT NULL,
  `subject_jp` varchar(500) DEFAULT NULL,
  `body_jp` text DEFAULT NULL,
  `body_preview_jp` text DEFAULT NULL,
  `from_email_jp` varchar(255) DEFAULT NULL,
  `from_name_jp` varchar(255) DEFAULT NULL,
  `to_recipients_jp` longtext DEFAULT NULL,
  `cc_recipients_jp` longtext DEFAULT NULL,
  `bcc_recipients_jp` longtext DEFAULT NULL,
  `importance_jp` varchar(50) DEFAULT NULL,
  `folder_jp` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `synced_emails_message_id_unique` (`message_id`),
  KEY `synced_emails_connection_received` (`outlook_connection_id`,`received_date_time`),
  KEY `synced_emails_message_id` (`message_id`),
  KEY `synced_emails_folder_read` (`folder`,`is_read`),
  CONSTRAINT `synced_emails_connection_fk` FOREIGN KEY (`outlook_connection_id`) REFERENCES `outlook_connections` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `types`
--

DROP TABLE IF EXISTS `types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `types` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `typename` varchar(255) NOT NULL COMMENT 'TΓö£┬¼n lo├ƒΓòæ├¡i setting (vΓö£┬í d├ƒΓòù├æ: JLPT, Experience, Specialization, Qualification)',
  `cv_field` varchar(255) DEFAULT NULL COMMENT 'T├¬n field trong CV ─æß╗â so s├ính (v├¡ dß╗Ñ: jlptLevel, experienceYears, specialization, qualification)',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `typename_en` varchar(255) DEFAULT NULL,
  `cv_field_en` varchar(255) DEFAULT NULL,
  `typename_jp` varchar(255) DEFAULT NULL,
  `cv_field_jp` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `values`
--

DROP TABLE IF EXISTS `values`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `values` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_typename` bigint(20) unsigned NOT NULL COMMENT 'ID c├ƒΓòù┬║a type',
  `valuename` varchar(255) NOT NULL COMMENT 'TΓö£┬¼n giΓö£├¡ tr├ƒΓòù├» (vΓö£┬í d├ƒΓòù├æ: N1, N2, N3 cho JLPT; 1├òΓòúΓöñ, 2├òΓòúΓöñ cho Experience)',
  `comparison_operator` varchar(10) DEFAULT NULL COMMENT 'To├ín tß╗¡ so s├ính: >=, <=, >, <, =, between',
  `comparison_value` varchar(255) DEFAULT NULL COMMENT 'Gi├í trß╗ï ─æß╗â so s├ính (v├¡ dß╗Ñ: 3 cho N3, 3 cho 3 n─âm)',
  `comparison_value_end` varchar(255) DEFAULT NULL COMMENT 'Gi├í trß╗ï kß║┐t th├║c cho between (v├¡ dß╗Ñ: 5 cho "tß╗½ 2 ─æß║┐n 5")',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `valuename_en` varchar(255) DEFAULT NULL,
  `comparison_operator_en` varchar(10) DEFAULT NULL,
  `comparison_value_en` varchar(255) DEFAULT NULL,
  `comparison_value_end_en` varchar(255) DEFAULT NULL,
  `valuename_jp` varchar(255) DEFAULT NULL,
  `comparison_operator_jp` varchar(10) DEFAULT NULL,
  `comparison_value_jp` varchar(255) DEFAULT NULL,
  `comparison_value_end_jp` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_values_comparison` (`id_typename`,`comparison_operator`,`comparison_value`),
  CONSTRAINT `fk_values_type` FOREIGN KEY (`id_typename`) REFERENCES `types` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `working_hours`
--

DROP TABLE IF EXISTS `working_hours`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `working_hours` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `job_id` bigint(20) unsigned NOT NULL,
  `working_hours` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `working_hours_en` varchar(255) DEFAULT NULL,
  `working_hours_jp` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_working_hours_job` (`job_id`),
  CONSTRAINT `fk_working_hours_job` FOREIGN KEY (`job_id`) REFERENCES `jobs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=528 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `working_hours_details`
--

DROP TABLE IF EXISTS `working_hours_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `working_hours_details` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `job_id` bigint(20) unsigned NOT NULL,
  `content` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `content_en` text DEFAULT NULL,
  `content_jp` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_working_hours_details_job` (`job_id`),
  CONSTRAINT `fk_working_hours_details_job` FOREIGN KEY (`job_id`) REFERENCES `jobs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=976 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `working_location_details`
--

DROP TABLE IF EXISTS `working_location_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `working_location_details` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `job_id` bigint(20) unsigned NOT NULL,
  `content` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `content_en` text DEFAULT NULL,
  `content_jp` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_working_location_details_job` (`job_id`),
  CONSTRAINT `fk_working_location_details_job` FOREIGN KEY (`job_id`) REFERENCES `jobs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=976 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `working_locations`
--

DROP TABLE IF EXISTS `working_locations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `working_locations` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `job_id` bigint(20) unsigned NOT NULL,
  `location` varchar(255) NOT NULL,
  `country` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `location_en` varchar(255) DEFAULT NULL,
  `country_en` varchar(255) DEFAULT NULL,
  `location_jp` varchar(255) DEFAULT NULL,
  `country_jp` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_working_locations_job` (`job_id`),
  CONSTRAINT `fk_working_locations_job` FOREIGN KEY (`job_id`) REFERENCES `jobs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2109 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-03 15:09:42
